/// NAV BAR
.nav-bar {
    display: flex;
    align-items: center;

    &_ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1.5rem;
        margin-right: 1.5rem;

        @media (max-width: 50em) {
            margin-right: 0;
        }

        @media (max-width: 22.5em) {
            flex-direction: column;
            margin-bottom: 1rem;
        }
    }

    &_link:link,
    &_link:visited {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        color: var(--Dark-Grayish-Violet);
        transition: 0.7s ease;
    }

    &_link:link:hover,
    &_link:visited:hover {
        color: #000;
    }

    &_btn {
        padding: 0.45rem 1.5rem;
        border: 1px solid #000;
        background-color: transparent;
        text-transform: uppercase;
        transition: 1s all;

        @media (max-width: 50em) {
            margin-bottom: 1rem;
        }
    }

    &_btn:hover {
        cursor: pointer;
        background-color: #000;
        color: #fff;
    }
}

/// NAV BAR HAMBURGER
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

@media (max-width: 50em) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-bar {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 10;
    }

    .nav-bar_li {
        margin: 1rem 0;
    }

    .nav-bar.active {
        left: 0;
    }
}

/// HEADER TOP
.text-box {
    width: 50%;
    
    @media (max-width: 62.5em) {
       padding-bottom: 3rem;
       width: 100%;
       text-align: center;
    }


    &_span {
        width: 10rem;
        height: 0.1rem;
        background-color: var(--Dark-Grayish-Violet);
        position: absolute;

        @media (max-width: 62.5em) {
            display: none;
         }
    }

    &_h-1 {
        font-size: clamp(2.5rem, 5.2vw, 4.7rem);
        width: 95%;
        margin-bottom: 1.8rem;
        line-height: 0.9;
        color: #fff;
        margin-top: 3rem;

        @media (max-width: 30em) {
            margin-top: 2rem;
        }
    }

    &_p {
        font-size: clamp(1rem, 1.2vw, 1.2rem); 
        margin-bottom: 1.8rem;
        line-height: 1.4;
        color: hsl(0, 0%, 70%);
        width: 97%;
    }


    &_btn {
        padding: 0.45rem 1.5rem;
        border: 1px solid #fff;
        background-color: transparent;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 0.1rem;
        position: relative;
        z-index: 10;
        transition: 1s all;
    }

    &_btn:hover {
        cursor: pointer;
        background-color: #fff;
        color: #000;
    }

}

.top {
    &_img {
        width: 30rem;
        height: 35rem;
        position: relative;
        z-index: 1;

        @media (max-width: 30em) {
            width: 100vw;
            height: 100vw;
        }
    }
}

.top::after {
    content: "";
    width: 40rem;
    height: 40rem;
    background: url(/images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    top: -90px;
    right: -220px;
    position: absolute;
    display: inline-block;
    z-index: 1;

    @media (max-width: 62.5em) {
       background-image: url(/images/bg-pattern-intro-right-mobile.svg);
       top: -90px;
       right: -513px;
     }
}

.span {
    width: 10rem;
    height: 0.1rem;
    background-color: var(--Dark-Grayish-Violet);
    position: absolute;
    
    @media (max-width: 62.5em) {
        display: none;
     }
}

// MAIN 

.main {
    &_h-1 {
        font-size: 3rem;

        @media (max-width: 47.5em) {
            text-align: center;
        }
    }
}

.card {
    flex: 1;
    min-width: 18rem;
    min-height: 15rem;
    max-width: 19rem;
    
    @media (max-width: 21.25em) {
        min-width: 12rem;
    }

    &_img {
        height: 4rem;
        margin-bottom: 1.5rem;
    }

    &_h-3 {
        margin-bottom: 1rem;
        font-size: 1.8rem;
    }

    &_p {
        color: var(--Dark-Grayish-Violet);
        line-height: 1.4;
        font-size: 1rem;
    }
}

// WORK SECTION
.work {

    &_h-1 {
        color: #fff;
        width: 30rem;
        font-size: 3.1rem;
        line-height: 0.9;

        @media (max-width: 59.375em) {
            width: 50%;
            font-size: clamp(2rem, 2.7vw, 2.5rem);
        }

        @media (max-width: 50.625em) {
            text-align: center;
            margin-bottom: 2rem;
            width: 90%;
        }
    }

    &_btn {
        padding: 0.45rem 1.5rem;
        border: 1px solid #fff;
        background-color: transparent;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 0.1rem;
        transition: 1s all;
    }

    &_btn:hover {
        cursor: pointer;
        background-color: #fff;
        color: #000;
    }
}

// FOOTER
.footer-top {

    &_icon-box {
        display: flex;
        gap: 1rem;

        @media (max-width: 21.875em) {
            gap: 0.6rem;
        }
    }

    &_icon {
        transition:  0.5s all;
        @media (max-width: 21.875em) {
            height: 1rem;
        }
    }

    &_icon:hover {
        filter: brightness(50%);
        cursor: pointer;
    }
}

.footer-bottom {

    margin-top: 3rem;
    width: 82%;

    @media (max-width: 51.75em) {
        width: 100%;
    }

    &_box {
        margin-bottom: 2rem;
    }

    &_p {
        color: var(--Dark-Grayish-Violet);
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    &_ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }

    &_link:link,
    &_link:visited {
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
    }

    &_link:link:hover,
    &_link:visited:hover {
        text-decoration: underline;
    }
}